.folder-container {
    border-right: 1px solid black;
    width: 25vw;
    height: 100vh
}

.folder-list {
    list-style: none;
    margin: 2px;
}

.folder-list li {
    border: 1px solid black;
    margin: 5px 0;
    text-align: center;
}

.add-folder-button {
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}